<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ site.title }}</title>
  {% include head.html %}
  <style>
   
  </style>
</head>
<body>
  <div class="background-overlay"></div>

  <header>
    <h1>Mi Blog Técnico sobre SQL & .NET</h1>
    <p style="margin-top: 0.5rem; font-style: italic;">Tutoriales, ideas y tips desde el mundo .NET y bases de datos</p>
  </header>

  <main class="post-list">
    {% for post in site.posts %}
      <article class="post-item">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <div class="post-date">{{ post.date | date: "%d %B %Y" }}</div>
        <div class="post-author">Autor: {{ post.author }}</div>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
      </article>
    {% endfor %}
  </main>

  <footer class="diner">
    
  </footer>
</body>
</html>
