<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  <div class="background-overlay"></div>
  <nav>
    <header>
      <h1><a href="{{ '/' | relative_url }}">Mi Blog Técnico sobre SQL & .NET</a></h1>
      <p style="margin-top: 0.5rem; font-style: italic;">...mis apuntes del mundo .NET y las bases de datos</p>
    </header>
  </nav>
  <br />
  <main>
    {{ content }}
  </main>  
  <footer class="diner">
    
  </footer>
  <button id="scrollTopBtn" title="Ir arriba">↑</button>
  <script>
  const scrollBtn = document.getElementById("scrollTopBtn");

  window.onscroll = function () {
    if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
      scrollBtn.style.opacity = "1";
      scrollBtn.style.pointerEvents = "auto";
    } else {
      scrollBtn.style.opacity = "0";
      scrollBtn.style.pointerEvents = "none";
    }
  };

  scrollBtn.addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>

</body>
</html>

