<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  <nav>
    <header>
      <h1>Mi Blog T&eacute;cnico sobre SQL & .NET</h1>
    </header>
    <a href="{{ '/' | relative_url }}">← Volver a la portada</a>
  </nav>
  <br />
  <main>
    {{ content }}
  </main>  
  <footer class="diner">
    
  </footer>
</body>
</html>

